body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgreen;
}
.container{
    /* background: #202020; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh;
}
