.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
header nav{
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
}
a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: gray;
}
.pokeball{
    position: absolute;
    display: flex;
    align-items: center;
}
.pokeball-img, img{
    position: relative;
    height: 20px;
    width: 20px;
}
.title{
    color: white;
    text-align: center;
}

