body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
header nav{
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
}
a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:gray;
}
.pokeball{
    position: absolute;
    display: flex;
    align-items: center;
}
.pokeball-img, img{
    position: relative;
    height: 20px;
    width: 20px;
}
.title{
    color: white;
    text-align: center;
}

.container+.images, img{
    position: absolute;
    display: inline-flex;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.images+.name{
    position: relative;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    bottom: -100px;
    padding-left: 10px;
}
.images:hover+.name,.name:hover{
    display: flex;
}

.images:hover{
    transform: translateY(-5px);
}

.container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 105%;
    background: #202020; /* Color sólido de fondo */
    z-index: -1; /* Colocar el pseudo-elemento detrás de los elementos internos */
    
}

.container {
    position: relative; /* Asegurarse de que el contenedor sea relativo para que el pseudo-elemento absoluto funcione correctamente */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 100vh; /* Usar min-height en lugar de height para evitar desplazamientos cuando el contenido crece */
}


.bulbasaur{
    background: #6EA598;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.ivysaur{
    background: #89C7CD;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.venusaur{
    background: #46A2A3;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.charmander{
    background: #F4B186;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.charmeleon{
    background: #EF8A78;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.charizard{
    background: #FAA86B;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.squirtle{
    background: #83C6D5;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.wartortle{
    background: #B6C6E7;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.blastoise{
    background: #84ACD8;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.chikorita{
    background: #CFE0A9;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.bayleef{
    background: #F9E49C;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.meganium{
    background: #B6D58B;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.cyndaquil{
    background: #EED9A2;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.quilava{
    background: #FDE39F;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.typhlosion{
    background: #FFEA9E;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.totodile{
    background: #67C1CC;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.croconaw{
    background: #7DC7D1;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.feraligatr{
    background: #65CAE9;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
