body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
header nav{
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
}
a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:gray;
}
.pokeball{
    position: absolute;
    display: flex;
    align-items: center;
}
.pokeball-img, img{
    position: relative;
    height: 20px;
    width: 20px;
}
.title{
    color: white;
    text-align: center;
}

.container+.images, img{
    position: absolute;
    display: inline-flex;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}
.pokemon {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.images+.name {
    background: linear-gradient(360deg, #202020, transparent);
    width: 100%;
    padding: 5px;
    position: relative;
    color: white;
    display: none;
    justify-content: center;
    margin-top: auto;
}
.images:hover+.name,.name:hover{
    display: flex;
}

.images:hover{
    transform: translateY(-5px);
}

.container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 105%;
    background: #202020; /* Color sólido de fondo */
    z-index: -1; /* Colocar el pseudo-elemento detrás de los elementos internos */
    
}

.container {
    position: relative; /* Asegurarse de que el contenedor sea relativo para que el pseudo-elemento absoluto funcione correctamente */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    min-height: 100vh; /* Usar min-height en lugar de height para evitar desplazamientos cuando el contenido crece */
}

#bulbasaur{
    background: #6EA598;
}
#ivysaur {
    background: #89C7CD;
}

#venusaur {
    background: #46A2A3;
}

#charmander {
    background: #F4B186;
}

#charmeleon {
    background: #EF8A78;
}

#charizard {
    background: #FAA86B;
}

#squirtle {
    background: #83C6D5;
}

#wartortle {
    background: #B6C6E7;
}

#blastoise {
    background: #84ACD8;
}

#chikorita {
    background: #CFE0A9;
}

#bayleef {
    background: #F9E49C;
}

#meganium {
    background: #B6D58B;
}

#cyndaquil {
    background: #EED9A2;
}

#quilava {
    background: #FDE39F;
}

#typhlosion {
    background: #FFEA9E;
}

#totodile {
    background: #67C1CC;
}

#croconaw {
    background: #7DC7D1;
}

#feraligatr {
    background: #65CAE9;
}

