.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0B1622;
}
header nav{
    background-color: #152232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 5px 20px;
}
a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:gray;
}
.anime{
    position: absolute;
    display: flex;
    align-items: center;
}
.anime-img, img{
    position: relative;
    height: 20px;
    width: 20px;
}

.shearch-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-top: auto;
    margin-left: auto; /* Mover la barra hacia la esquina superior derecha */
    margin-right: 40px; /* Agregar margen derecho para separación */
}

.search-bar:focus-within{
    border: solid 1p #aaa;
    box-shadow: 0px 2px 5px #0B1622;
}
.shearch-bar,input {
    border: solid 1px #ccc;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.2vw; /* Reducir el tamaño de fuente */
    width: 250px; /* Reducir el ancho del input en un 5% */
    background-color: transparent;
    color: white;
    outline: none;
}
.search-bar,.actions{
    display: flex;
    gap: 5px;
}
.shearch-bar,button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 2vw; /* Aumentar el tamaño de fuente del icono */
    color: #ccc;
}
.search-bar,.actions, button:hover{
    color: #0B1622;
}